vital_chat_ui:

  agent_hostname: "host.docker.internal"
  agent_port: 7007
  agent_path: ""

  message_domain: "vital-ai-aimp"

  chat_interaction_type: "HaleyChatInteraction_CHAT"
  # chat_interaction_type: "HaleyChatInteraction_CHAT_KG"

  account_uri: "account_id"
  login_id: "login_id"
  username: "Firstname Lastname"
  use_streamlit_session_id: true




